/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Navbar styles */
.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

/* Center content */
.center-content {
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

/* Form styles */
.login-form, .signup-form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the form content horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form content vertically */
}

form {
    width: 100%; /* Expand the form to its container's width */
}

label {
    margin-bottom: 5px;
    text-align: left; /* Align the labels to the left */
    width: 100%;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Expand input and button to the form's width */
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

